@import '~bootstrap/scss/bootstrap';

$bleu: #00adc6;
$gris: #4d4d4d;

.border{
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.header img{
  width: 120px;
  height: auto;
}

#map {
  min-height: 420px;
}
