{% extends 'base.html.twig' %}

{% block body %}
<h1>Accueil</h1>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="border">
                    <p>Test</p>
                </div>
            </div>
        </div>
    </section>

    <style>
        .container-fluid{
            border: 1px solid black;
        }
    </style>
{% endblock %}