<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ATMO Grand Est{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <img src="{{ asset('images/logo.png') }}" alt="logo">
            <div class="titre" style="font-size: 35px"><p>Respirez, Inspirez, Sensibilisez !</p></div>
        </header>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
